body {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.clock-holder {
  padding: 100px 0px;
}
